//--------------------------------------------------------------
//Fonts
//--------------------------------------------------------------

$main-font: 'Red Ring';

//--------------------------------------------------------------
//Fonts size
//--------------------------------------------------------------

$size12: 12px;
$size13: 13px;
$main-size: 14px;
$size15: 15px;
$size18: 18px;
$size19: 19px;
$size25: 25px;
$size35: 35px;
$size75: 75px;

//--------------------------------------------------------------
//Colors
//--------------------------------------------------------------

$white: #fff;
$black: #000;
$green: #0ED193;
$blue: #01A0BF;
$light-grey: #E4ECEE;
$grey: #ACBBBE;


//--------------------------------------------------------------
//Extends fonts
//--------------------------------------------------------------

%h1 {
  font-family: 'Red Ring';
  font-style: normal;
  font-weight: 500;
  font-size: $size75;
  line-height: 1.13;
  color: $grey;
}

%h2 {
  font-family: 'Red Ring';
  font-style: normal;
  font-weight: 500;
  font-size: $size35;
  line-height: 1.35;
  color: $grey;
}

%h3 {
  font-family: 'Red Ring';
  font-style: normal;
  font-weight: 500;
  font-size: $size25;
  line-height: 1.33;
  color: $grey;
}

%big-text {
  font-family: 'Red Ring';
  font-style: normal;
  font-weight: normal;
  font-size: $size19;
  line-height: 1.31;
  color: $grey;
}

%regular-text {
  font-family: 'Red Ring';
  font-style: normal;
  font-weight: 300;
  font-size: $size13;
  line-height: 1.3;
  color: $grey;
}

%medium-text {
  font-family: 'Red Ring';
  font-style: normal;
  font-weight: 300;
  font-size: $size15;
  line-height: 1.33;
  color: $grey;
}

%regular-bold {
  font-family: 'Red Ring';
  font-style: normal;
  font-size: $size13;
  line-height: 1.15;
  color: $grey;
}

%medium-bold {
  font-family: 'Red Ring';
  font-style: normal;
  font-weight: 500;
  font-size: $size15;
  line-height: 1.33;
}

//--------------------------------------------------------------
//Extends class
//--------------------------------------------------------------

.btn {
  @extend %medium-bold;
  min-width: 138px;
  padding: 14px 35px;

  color: $white;
  background: $green;

  border-radius: 5px;
}
