.header-menu {
  display: flex;
  align-items: center;
  padding: 26px 0;

  .header-logo {
    position: relative;
    top: 5px;
  }

  .header-nav {
    margin-left: 190px;

    ul.header-list {
      display: flex;

      li.list-item {
        margin: 0 20px;

        a {
          position: relative;
          top: 5px;

          font-family: $main-font;
          font-size: $main-size;
          color: $black;

          &:after {
            content: '';
            position: absolute;
            display: block;

            height: 2px;
            width: 0;

            background: $green;
            pointer-events: none;

            transition: all .2s;
          }

          &:hover:after {
            width: 100%;
            transition: all .2s;
          }
        }
      }
    }
  }

  .btn-enter {
    display: flex;
    align-items: center;

    margin: 0 0 0 auto;

    img {
      margin-left: 9px;
    }
  }
}
body {
  height: 2000px;
}