.get-credit {
  padding: 83px 0 287px;

  background: url("../img/get-credit/bcg-credit.png") center top no-repeat, radial-gradient(70.23% 381.6% at 6.53% 10.52%, #0A2E37 36.32%, #000000 100%);
  color: $white;

  .container {
    .credit-inner {
      position: relative;
      .credit-wrapper {

        h2.credit-title {
          @extend %h2;
          color: $white;
          text-align: center;

          margin-bottom: 44px;
        }

        .credit-stages {
          display: flex;
          justify-content: space-between;

          max-width: 895px;
          margin: 0 auto;

          .stage-one {
            margin-left: 30px;

            .stage-number {
              &:after {

                width: 285px;
              }
            }
          }

          .stage-inner {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            width: 60px;
            height: 60px;

            margin: 0 55px 0 65px;
          }

          .stage-item {
            display: flex;
            align-items: center;
            justify-content: center;

            @extend %medium-bold;

            width: 40px;
            height: 40px;

            border: 3px solid $green;
            border-radius: 50%;
          }

          .stage-number {
            position: relative;
            display: block;

            &:after {
              content: '';
              position: absolute;
              display: block;

              top: 40%;
              left: 245%;

              height: 3px;
              width: 300px;

              background: $green;
              z-index: 100;

            }
          }

          .stage-item__active {
            width: 60px;
            height: 60px;

            border: 10px solid rgba(14, 209, 147, 0.25);
            background: $green;
            background-clip: padding-box;
          }

          .stage-name {
            @extend %medium-text;
            color: $white;
            font-weight: 300;
            text-align: center;

            margin-top: 9px;
            max-width: 210px;
          }

          .stage-name__active {
            font-weight: bolder;
          }
          .stage-two {
            padding-left: 17px;
          }
          .stage-three {
            .stage-number {
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

// calculator
//===========================
.credit-calculator {
  position: absolute;
  top: 275px;

  padding: 50px 110px 81px 108px;
  width: 100%;

  background: white;

  h2.calculator-title {
    @extend %h2;
    color: $black;
    text-align: center;

    margin-bottom: 32px;
  }

  .calculator-wrapper {
    display: flex;

    .calculator-forms {
      width: 70%;

      .duration-of-credit.forms-wrapper {
        margin-top: 32px;
      }
    }

    //style of UI
    //===================
    .range {
      margin: -1px auto 0;
      width: calc(100% - 10px);

      .ui-state-default {
        @extend %ui-state-default-castom;
      }
    }
    .ui-slider {
      @extend %ui-slider-castom;
    }
    .ui-slider-range {
      @extend %ui-slider-range-castom;
    }
    //========================

    .input-name {
      @extend %regular-bold;
    }

    .calculator-input {
      @extend %h3;

      margin-top: 10px;
      padding: 14px 0 17px 24px;

      height: 64px;
      width: 100%;

      outline: none;
      border: 1px solid $light-grey;
      border-radius: 5px;
    }

    .calculator-describe {
      display: flex;
      justify-content: space-between;

      margin-top: 13px;

      @extend %regular-text;

      p.min-sum {
        display: block;
      }
    }
    .calculator-confirm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding-top: 7px;
      margin: 0 0 0 auto;

      .confirm-title {
        @extend %regular-text;
        margin: 11px 0;
      }

      .confirm-money {
        @extend %h3;

          &:after {
            content: '';
            display: block;

            margin: 31px auto 38px;
            width: 129px;
            height: 2px;

            background: $black;
        }
      }
    }
  }
}









