.get-credit {
  padding: 83px 0 287px;

  background: url("../img/get-credit/bcg-credit.png") center top no-repeat, radial-gradient(70.23% 381.6% at 6.53% 10.52%, #0A2E37 36.32%, #000000 100%);
  color: $white;

  @media (max-width: 1000px) {
    padding: 33px 0 287px;
  }

  .container {
    .credit-inner {
      position: relative;
      .credit-wrapper {

        h2.credit-title {
          @extend %h2;
          color: $white;
          text-align: center;

          margin-bottom: 44px;

          @media (max-width: 930px) {
            margin-bottom: 24px;
          }
        }

        .credit-stages {
          display: flex;
          justify-content: space-between;

          max-width: 895px;
          margin: 0 auto;

          @media (max-width: 930px) {
            justify-content: center;
          }

          .stages {
            @media (max-width: 930px) {
              margin: 0 5px;
            }
          }

          .stage-one {
            margin-left: 30px;

            @media (max-width: 930px) {
              margin-left: 0;
            }

            .stage-number {
              &:after {
                display: block;
                width: 285px;

                @media (max-width: 930px) {
                  display: none;
                }
              }
            }
          }

          .stage-inner {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;

            width: 60px;
            height: 60px;

            margin: 0 55px 0 65px;

            @media (max-width: 930px) {
              margin: 0 auto;
            }
          }

          .stage-item {
            display: flex;
            align-items: center;
            justify-content: center;

            @extend %medium-bold;

            width: 40px;
            height: 40px;
            cursor: pointer;

            border: 3px solid $green;
            border-radius: 50%;
          }

          .stage-number {
            position: relative;
            display: flex;

            &:after {
              content: '';
              position: absolute;
              display: block;

              top: 40%;
              left: 245%;

              height: 3px;
              width: 300px;

              background: $green;
              z-index: 100;

              @media (max-width: 930px) {
                display: none;
              }
            }
          }

          .stage-item__active {
            width: 60px;
            height: 60px;

            border: 10px solid rgba(14, 209, 147, 0.25);
            background: $green;
            background-clip: padding-box;
          }

          .stage-name {
            @extend %medium-text;
            color: $white;
            font-weight: 300;
            text-align: center;

            margin-top: 9px;
            max-width: 210px;
          }

          .stage-name__active {
            font-weight: bolder;
          }
          .stage-two {
            padding-left: 17px;

            @media (max-width: 930px) {
              padding-left: 0;
            }
          }
          .stage-three {
            margin-right: 0;

            .stage-number {
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}


// calculator
//===========================

.credit-calculator {
  position: absolute;
  top: 275px;

  padding: 50px 110px 81px 108px;
  width: 100%;

  background: $white;

  @media (max-width: 1280px) {
    padding: 30px 0 30px 30px;
  }

  @media (max-width: 1000px) {
    top: 230px;
  }
  @media (max-width: 900px) {
    top: 200px;
  }
  @media (max-width: 650px) {
    padding: 30px 0;
  }

  @media (max-width: 480px) {
    padding: 20px 0;
  }
  @media (max-width: 480px) {
    top: 220px;
  }
  @media (max-width: 930px) {
    top: 240px;
  }

  h2.calculator-title {
    @extend %h2;
    color: $black;
    text-align: center;

    margin-bottom: 32px;

    @media (max-width: 650px) {
      margin-bottom: 15px;
    }
  }

  .calculator-wrapper {
    display: flex;

    @media (max-width: 650px) {
      justify-content: center;
      flex-wrap: wrap;
    }

    .calculator-forms {
      width: 70%;

      @media (max-width: 650px) {
        width: 90%;
      }

      .duration-of-credit.forms-wrapper {
        margin-top: 32px;
      }
    }

    //style of UI
    //===================
    .range {
      margin: -1px auto 0;
      width: calc(100% - 10px);

      .ui-state-default {
        @extend %ui-state-default-castom;

        @media (max-width: 850px) {
          width: 20px;
          height: 20px;

          margin-left: -10px;
          top: -10px;
          border: 3px solid rgba(14, 209, 147, 0.25);

          &:after {
            display: none;
          }
        }
      }
    }
    .ui-slider {
      @extend %ui-slider-castom;

    }
    .ui-slider-range {
      @extend %ui-slider-range-castom;
    }
    //========================

    .input-name {
      @extend %regular-bold;

      @media (max-width: 670px) {
       font-size: $size12;
      }
    }

    .calculator-input {
      @extend %h3;

      margin-top: 10px;
      padding: 14px 0 17px 24px;

      height: 64px;
      width: 100%;

      outline: none;
      border: 1px solid $light-grey;
      border-radius: 5px;

      @media (max-width: 850px) {
        padding: 0 0 0 24px;
        height: 44px;
      }
    }

    .calculator-describe {
      display: flex;
      justify-content: space-between;

      margin-top: 13px;
      @extend %regular-text;

      p.min-sum {
        display: block;
      }
    }

    .calculator-confirm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding-top: 7px;
      margin: 0 0 0 auto;

      @media (max-width: 1280px) {
        margin-left: 80px;
      }
      @media (max-width: 1060px) {
        padding: 0;
        margin: 0 auto;
      }

      .confirm-title {
        @extend %regular-text;
        margin: 11px 0;
      }

      .confirm-money {
        text-align: center;
        @extend %h3;

          &:after {
            content: '';
            display: block;

            margin: 31px auto 38px;
            width: 129px;
            height: 2px;

            background: $black;

            @media (max-width: 900px) {
              margin: 15px auto;
            }
        }
      }
      .btn-confirm {
        @media (max-width: 900px) {
          padding: 15px 25px;
        }

        @media (max-width: 700px) {
          padding: 15px 14px;
        }
      }
    }
  }
}









